<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <ul>
        {% for elemento in xxx %}
            <li>{{ elemento.nombre }}: ${{ elemento.precio }}</li>
            <a href = "/editar/{{ producto['nombre'] }}">Editar</a>
            <a href = "/eliminar/{{ producto['id'] }}" onclick="return confirm('Seugro que deseas eliminar?')">Eliminar</a>
        {% endfor %}
    </ul>
</body>
</html>